= form_for([:admin, @building_basic_info], html: { class:"form-horizontal"}) do |f|
  = f.label(:name, "Building Name: ")
  = f.text_field(:name)
  %br
  = f.label(:default_level)
  = f.number_field(:default_level)
  %br
  = f.label(:display_name)
  = f.text_field(:display_name)
  %br
  = f.label(:building_type, "Building Type: (Building or Unit")
  = f.text_field(:building_type)
  %br
  = f.label(:category)
  = f.text_field(:category)
  %br
  = f.label(:upgrader)
  = f.text_field(:upgrader)
  %br
  = f.submit("Create Basic Info")