- @title = "Log in"
- content_for :body_class, "landing"
= render "home_nav"
#main.devise
  .container-fluid.no-margin
    .form-background
      .row.mt20
        = form_for resource, as: resource_name, url: session_path(resource_name),      |
          html: { class: "form-horizontal col-xs-12 col-md-6 col-md-offset-3 sign-up-form" } do |f| |
          %h1.white Log In
          - if devise_mapping.omniauthable?
            %p
              - resource_class.omniauth_providers.each do |provider|
                = link_to fa_icon_tag("#{provider}-sign") + " Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: 'btn'
            %p Or sign in using your ...
          .sheet.form-sheet
            .sheet-inner
              = f.form_group :email do |f|
                = f.label :email, class: "form-label"
                = f.email_field :email, autofocus: true, class: ""
                = f.error_messages
              = f.form_group :password do |f|
                = f.label :password, class: "form-label"
                = f.password_field :password
                = f.error_messages
          - if devise_mapping.rememberable?
            .form-sheet-footer
              = f.label :remember_me, class: "checkbox col-sm-6 white" do
                = f.check_box :remember_me
                Remember me
              = f.submit "Log in", class: 'btn btn-primary col-sm-6 pull-right'
            %br
            %br
            %br
            .row
              .col-xs-12.col-sm-12.text-right.no-padding
                %ul.list-unstyled.options
                  %li.col-xs-12.col-md-6
                    %a{:href => "/users/sign_up"} Sign up
                  - if devise_mapping.recoverable?
                    %li.col-xs-12.col-md-6= link_to "Forgot your password?", new_password_path(resource_name)
                  - if devise_mapping.confirmable?
                    %li.col-xs-12.col-md-6= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
                  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email)
                    %li.col-xs-12.col-md-6= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)