.container-fluid.mt20
  .row.top-summary
    .col-lg-6.col-md-6.col-sm-6.animate-drop-fade
      .panel.panel-success
        .panel-heading
          %p.lead
            %i.fa.fa-users
            Townhall
            %b Level
        .panel-body.text-green-400
          %h2.m0.pull-left= current_user.townhall.level
          =link_to("Update", townhalls_path, class:"btn btn-success btn-sm pull-right")
          .clearfix
    .col-lg-6.col-md-6.col-sm-6.animate-drop-fade
      .panel.panel-success
        .panel-heading
          %p.lead
            %i.fa.fa-users
            Number of
            %b Builders
        .panel-body.text-green-400
          %h2.m0.pull-left= current_user.builder.b_count
          =link_to("Update", builders_path, class:"btn btn-success btn-sm pull-right")
          .clearfix
  / town worth row
  .row.top-summary
    .col-lg-3.col-md-6.col-sm-12.animate-drop-fade
      .panel.panel-danger
        .panel-heading.min-height-65
          %p.lead
            %i.fa.fa-dollar
            %b Gold Worth
            %span.small
              excluding walls
        .panel-body.text-red-400
          %h2.page-hits.m0= number_with_delimiter(@buildings.upgrading_resource("gold").cumulative_cost.to_i, delimiter: ',') 
        .panel-footer
          .row
            .col-sm-12
              %b= current_user.percent_complete("gold")
              #{"% maxed out."}
              %br
              %b= number_with_delimiter(current_user.maxed_th_cumulative_cost("gold").to_i, delimiter: ',')
              #{"maxed"}
          .clearfix
    .col-lg-3.col-md-6.col-sm-12.animate-drop-fade
      .panel.panel-danger
        .panel-heading.min-height-65
          %p.lead
            %i.fa.fa-dollar
            %b Gold Worth
            %span.small
              with walls
        .panel-body.text-red-400
          %h2.page-hits.m0= number_with_delimiter((@buildings.upgrading_resource("gold").cumulative_cost + current_user.walls.cumulative_cost).to_i, delimiter: ',')
        .panel-footer
          .row
            .col-sm-12
              %b= current_user.percent_complete_with_walls("gold")
              #{"% maxed out."}
              %br
              %b= number_with_delimiter(current_user.maxed_th_cumulative_gold_cost_with_walls("gold").to_i, delimiter: ',')
              #{"maxed"}
          .clearfix
    .col-lg-3.col-md-6.col-sm-12.animate-drop-fade
      .panel.panel-info
        .panel-heading.min-height-65
          %p.lead
            %i.fa.fa-dollar
            %b Elixir Worth
        .panel-body.text-light-blue-400
          %h2.page-hits.m0= number_with_delimiter(@buildings.upgrading_resource("elixir").cumulative_cost.to_i, delimiter: ',')
        .panel-footer
          .row
            .col-sm-12
              %b= current_user.percent_complete("elixir")
              #{"% maxed out."}
              %br
              %b= number_with_delimiter(current_user.maxed_th_cumulative_cost("elixir").to_i, delimiter: ',')
              #{"maxed"}
          .clearfix
    .col-lg-3.col-md-6.col-sm-12.animate-drop-fade
      .panel.panel-success
        .panel-heading.min-height-65
          %p.lead
            %i.fa.fa-dollar
            %b Dark Elixir Worth
        .panel-body.text-green-400
          %h2.page-hits.m0= number_with_delimiter(@buildings.upgrading_resource("dark elixir").cumulative_cost.to_i, delimiter: ',')
        .panel-footer
          .row
            .col-sm-12
              %b= current_user.percent_complete("dark elixir")
              #{"% maxed out."}
              %br
              %b= number_with_delimiter(current_user.maxed_th_cumulative_cost("dark elixir").to_i, delimiter: ',')
              #{"maxed"}
          .clearfix
  .row.top-summary






    .col-lg-4.col-md-4.col-sm-6.animate-drop-fade
      .panel.panel-danger
        .panel-heading
          %p.lead
            %i.fa.fa-dollar
            %b Gold
            %br
            %span.small
              Daily Production
        .panel-body.text-red-400
          %h2.page-hits.m0= number_with_delimiter(current_user.resource_daily_production("gold"), delimiter: ',')
        .panel-footer
          .row
            .col-sm-12
              %b= current_user.days_to_maxed_townhall("gold")
              #{"production days to max out gold buildings."}
              %br
              %b= current_user.days_to_maxed_townhall_walls_only
              #{"production days to max out walls"}
              %br
              %b= current_user.days_to_maxed_townhall_with_walls
              #{"production days to max out walls and gold buildings"}
          .clearfix
    .col-lg-4.col-md-4.col-sm-6.animate-drop-fade
      .panel.panel-info
        .panel-heading
          %p.lead
            %i.fa.fa-dollar
            %b Elixir
            %br
            %span.small
              Daily Production           
        .panel-body.text-light-blue-400
          %h2.m0= number_with_delimiter(current_user.resource_daily_production("elixir"), delimiter: ',')
        .panel-footer
          .row
            .col-sm-12
              %b= current_user.days_to_maxed_townhall("elixir")
              #{"production days to max out elixir buildings and units."}
          .clearfix
    .col-lg-4.col-md-4.col-sm-6.animate-drop-fade
      .panel.panel-success
        .panel-heading
          %p.lead
            %i.fa.fa-dollar
            %b Dark Elixir 
            %br
            %span.small
              Daily Production            
        .panel-body.text-green-400
          %h2.m0= number_with_delimiter(current_user.resource_daily_production("dark elixir"), delimiter: ',')
        .panel-footer
          .row
            .col-sm-12
              %b= current_user.days_to_maxed_townhall("dark elixir")
              #{"production days to max out dark elixir buildings and units."}
          .clearfix
  .row
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      .panel.panel-metric
        .panel-body
          .metric-content
            .row
              %header.col-xs-12
                %h3 Monthly Earnings
              .col-xs-7.col-sm-7.col-md-7.col-lg-7{:style => "min-height: 150px;"}
                #metric-monthly-earnings.metric-graph{:style => "height:150px;"}
              .col-xs-5.col-sm-5.col-md-5.col-lg-5
                .metric-value
                  $19,821
                .metric-trend
                  %p.text-success
                    %i.fa.fa-chevron-up
                    12%
                  %strong 30 Days Ago
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      .panel.panel-metric
        .panel-body
          .metric-content
            .row
              %header.col-xs-12
                %h3 Cancellations
              .col-xs-7.col-sm-7.col-md-7.col-lg-7{:style => "min-height: 150px;"}
                #metric-cancellations.metric-graph{:style => "height:150px;"}
              .col-xs-5.col-sm-5.col-md-5.col-lg-5
                .metric-value
                  123
                .metric-trend
                  %p.text-success
                    %i.fa.fa-chevron-up
                    12%
                  %strong 30 Days Ago
  .row
    .col-sm-12.col-md-9.animate-fade-in-1000
      .panel.panel-default
        .panel-heading
          %h3.panel-title Sales Vs Refunds
        .panel-body
          #rickshaw-bars
    .col-sm-12.col-md-3.animate-fade-in-1000
      .panel.panel-cover{:style => "background-image: url(#{image_path("dresssed/header_1.jpg")})"}
        %p.lead.p10 Top Affiliate
        = random_avatar 115, "img-circle"
        %h3.mt0 Fill Murray
        %ul.stats.list-unstlyed.list-inline.clearfix
          %li.col-4
            %span> $1,267
            Commission
          %li.col-4
            %span> $3,987
            Sales
          %li.col-4
            %span> 121
            Referrals
  .row
    .col-sm-12.col-md-7.animate-fade-in-1000
      .panel.panel-default
        .panel-heading
          %h3.panel-title Master Server
        .panel-body
          .container-fluid
            .row
              .col-xs-12.col-sm-12.col-md-12.col-lg-12
                #realtime{:style => "height: 315px; width: 100%; display: block;"}
        .panel-footer
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .server-status-details.clearfix
                %h5.text-center Memory Stats
                .row.stat-list
                  %dl.col-xs-6.col-sm-6.col-md-3
                    %dt In use
                    %dd 2.5 GB
                  %dl.col-xs-6.col-sm-6.col-md-3
                    %dt Total
                    %dd 4 GB
                  %dl.col-xs-6.col-sm-6.col-md-3
                    %dt Available
                    %dd 500 MB
                  %dl.col-xs-6.col-sm-6.col-md-3
                    %dt Swap
                    %dd 360 MB
    .col-sm-12.col-md-5.animate-fade-in-1000
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = ionicon_icon_tag 'flame'
            Recent
          %ul.nav.nav-tabs.nav-tabs-xs
            %li.active
              %a{"data-toggle" => "tab", :href => "#dashboard-recent-comments"} Comments
            %li
              %a{"data-toggle" => "tab", :href => "#dashboard-recent-threads"} Forum threads
        .tab-content
          #dashboard-recent-comments.tab-pane.fade.active.in{:style => "height: 470px; overflow: scroll;"}
            %ul.list-group.list-group-flush
              %li.list-group-item
                .media
                  %a.pull-left{:href => "#"}
                    = random_avatar 40, "media-object"
                  .media-body
                    %h5.media-heading
                      %a{:href => "#", :title => ""} Fill Murray
                      commented on
                      %a{:href => "#", :title => ""} Article Name
                    %p.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae atque, dolore quo voluptatum sed voluptas incidunt aspernatur natus iste dolor neque porro quos illo quia iusto minima, nesciunt animi architecto.
                    %ul.list-inline.small
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-fw.fa-pencil>
                          Edit
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-fw.fa-times>
                          Remove
                      %span.pull-right 1 hour ago
              %li.list-group-item
                .media
                  %a.pull-left{:href => "#"}
                    = random_avatar 40, "media-object"
                  .media-body
                    %h5.media-heading
                      %a{:href => "#", :title => ""} Fill Murray
                      commented on
                      %a{:href => "#", :title => ""} Article Name
                    %p.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus harum hic, atque, blanditiis commodi repellendus quibusdam ratione, a tenetur sint iste sunt consequatur nemo. Sed necessitatibus aut aperiam accusamus dignissimos.
                    %ul.list-inline.small
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-fw.fa-pencil>
                          Edit
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-fw.fa-times>
                          Remove
                      %span.pull-right 1 hour ago
              %li.list-group-item
                .media
                  %a.pull-left{:href => "#"}
                    = random_avatar 40, "media-object"
                  .media-body
                    %h5.media-heading
                      %a{:href => "#", :title => ""} Fill Murray
                      commented on
                      %a{:href => "#", :title => ""} Article Name
                    %p.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora illo odio ducimus voluptas dicta, mollitia omnis reiciendis architecto nisi sunt cumque accusantium incidunt eveniet. Dicta accusamus voluptas, iure facilis quo.
                    %ul.list-inline.small
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-fw.fa-pencil>
                          Edit
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-fw.fa-times>
                          Remove
                      %span.pull-right 1 hour ago
              %li.list-group-item
                .media
                  %a.pull-left{:href => "#"}
                    = random_avatar 40, "media-object"
                  .media-body
                    %h5.media-heading
                      %a{:href => "#", :title => ""} Fill Murray
                      commented on
                      %a{:href => "#", :title => ""} Article Name
                    %p.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus non voluptatibus dolorum maxime, distinctio, dolores corporis, eveniet placeat odio est nulla a ea aliquam, tempore autem voluptas. Ex, quibusdam, itaque.
                    %ul.list-inline.small
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-fw.fa-pencil>
                          Edit
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-fw.fa-times>
                          Remove
                      %span.pull-right 1 hour ago
              %li.list-group-item
                .media
                  %a.pull-left{:href => "#"}
                    = random_avatar 40, "media-object"
                  .media-body
                    %h5.media-heading
                      %a{:href => "#", :title => ""} Fill Murray
                      commented on
                      %a{:href => "#", :title => ""} Article Name
                    %p.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, corporis, facilis magni error est quibusdam eaque hic nulla quod veniam reiciendis atque itaque laboriosam. Molestias architecto natus hic, veritatis fugiat.
                    %ul.list-inline.small
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-fw.fa-pencil>
                          Edit
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-fw.fa-times>
                          Remove
                      %span.pull-right 1 hour ago
              %li.list-group-item
                .media
                  %a.pull-left{:href => "#"}
                    = random_avatar 40, "media-object"
                  .media-body
                    %h5.media-heading
                      %a{:href => "#", :title => ""} Fill Murray
                      commented on
                      %a{:href => "#", :title => ""} Article Name
                    %p.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam suscipit, exercitationem mollitia, id fugit earum. Nemo veniam, temporibus soluta laudantium nulla quae ipsam, iste et accusantium blanditiis dignissimos id adipisci.
                    %ul.list-inline.small
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-fw.fa-pencil>
                          Edit
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-fw.fa-times>
                          Remove
                      %span.pull-right 1 hour ago
              %li.list-group-item
                .media
                  %a.pull-left{:href => "#"}
                    = random_avatar 40, "media-object"
                  .media-body
                    %h5.media-heading
                      %a{:href => "#", :title => ""} Fill Murray
                      commented on
                      %a{:href => "#", :title => ""} Article Name
                    %p.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt vel pariatur repellat hic magni a, sit odit quaerat veniam, quae veritatis temporibus ex ullam nesciunt dolor consequuntur ut dignissimos praesentium.
                    %ul.list-inline.small
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-fw.fa-pencil>
                          Edit
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-fw.fa-times>
                          Remove
                      %span.pull-right 1 hour ago
          #dashboard-recent-threads.tab-pane.fade
            %div{:style => "overflow: scroll; width: auto; height: 474px;"}
              %ul.list-group.list-group-flush
                %li.list-group-item
                  .media
                    %a.pull-left{:href => "#"}
                      = random_avatar 40, "media-object"
                    .media-body
                      %h5.media-heading
                        %a{:href => "#", :title => ""} Lorem ipsum dolor sit amet
                      .small
                        started by
                        %a{:href => "#", :title => ""} Fill Murray
                        in
                        %a{:href => "#", :title => ""} Forum name
                        %span.pull-right 3h
                %li.list-group-item
                  .media
                    %a.pull-left{:href => "#"}
                      = random_avatar 40, "media-object"
                    .media-body
                      %h5.media-heading
                        %a{:href => "#", :title => ""} Lorem ipsum dolor sit amet
                      .small
                        started by
                        %a{:href => "#", :title => ""} Fill Murray
                        in
                        %a{:href => "#", :title => ""} Forum name
                        %span.pull-right 3h
                %li.list-group-item
                  .media
                    %a.pull-left{:href => "#"}
                      = random_avatar 40, "media-object"
                    .media-body
                      %h5.media-heading
                        %a{:href => "#", :title => ""} Lorem ipsum dolor sit amet
                      .small
                        started by
                        %a{:href => "#", :title => ""} Fill Murray
                        in
                        %a{:href => "#", :title => ""} Forum name
                        %span.pull-right 3h
                %li.list-group-item
                  .media
                    %a.pull-left{:href => "#"}
                      = random_avatar 40, "media-object"
                    .media-body
                      %h5.media-heading
                        %a{:href => "#", :title => ""} Lorem ipsum dolor sit amet
                      .small
                        started by
                        %a{:href => "#", :title => ""} Fill Murray
                        in
                        %a{:href => "#", :title => ""} Forum name
                        %span.pull-right 3h
                %li.list-group-item
                  .media
                    %a.pull-left{:href => "#"}
                      = random_avatar 40, "media-object"
                    .media-body
                      %h5.media-heading
                        %a{:href => "#", :title => ""} Lorem ipsum dolor sit amet
                      .small
                        started by
                        %a{:href => "#", :title => ""} Fill Murray
                        in
                        %a{:href => "#", :title => ""} Forum name
                        %span.pull-right 3h
                %li.list-group-item
                  .media
                    %a.pull-left{:href => "#"}
                      = random_avatar 40, "media-object"
                    .media-body
                      %h5.media-heading
                        %a{:href => "#", :title => ""} Lorem ipsum dolor sit amet
                      .small
                        started by
                        %a{:href => "#", :title => ""} Fill Murray
                        in
                        %a{:href => "#", :title => ""} Forum name
                        %span.pull-right 3h
                %li.list-group-item
                  .media
                    %a.pull-left{:href => "#"}
                      = random_avatar 40, "media-object"
                    .media-body
                      %h5.media-heading
                        %a{:href => "#", :title => ""} Lorem ipsum dolor sit amet
                      .small
                        started by
                        %a{:href => "#", :title => ""} Fill Murray
                        in
                        %a{:href => "#", :title => ""} Forum name
                        %span.pull-right 3h
  .row
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title Online Users
        .panel-body
          #map_canvas_1
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      .panel
        .panel-heading
          %h3.panel-title Most Active Users
        .panel-body
          .table-responsive
            %table.table.table-hover.table-striped
              %thead
                %tr
                  %th #
                  %th Full Name
                  %th Location
                  %th Status
                  %th Action
              %tbody
                %tr
                  %td 1
                  %td
                    %strong Fred Berlin
                  %td Vancouver, Canada
                  %td
                    %span.label.label-success Active
                  %td
                    .btn-group.btn-group-xs
                      %a.btn.btn-default{"data-original-title" => "Delete", "data-toggle" => "tooltip"}
                        %i.fa.fa-trash
                      %a.btn.btn-default{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                        %i.fa.fa-edit
                %tr
                  %td 2
                  %td Octavius Belt
                  %td London, United Kingdom
                  %td
                    %span.label.label-success Active
                  %td
                    .btn-group.btn-group-xs
                      %a.btn.btn-default{"data-original-title" => "Delete", "data-toggle" => "tooltip"}
                        %i.fa.fa-trash
                      %a.btn.btn-default{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                        %i.fa.fa-edit
                %tr
                  %td 3
                  %td
                    %strong Cash Money
                  %td New York City, USA
                  %td
                    %span.label.label-success Active
                  %td
                    .btn-group.btn-group-xs
                      %a.btn.btn-default{"data-original-title" => "Delete", "data-toggle" => "tooltip"}
                        %i.fa.fa-trash
                      %a.btn.btn-default{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                        %i.fa.fa-edit
                %tr
                  %td 4
                  %td
                    %strong Bailey Bingface
                  %td Liberia
                  %td
                    %span.label.label-success Active
                  %td
                    .btn-group.btn-group-xs
                      %a.btn.btn-default{"data-original-title" => "Delete", "data-toggle" => "tooltip"}
                        %i.fa.fa-trash
                      %a.btn.btn-default{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                        %i.fa.fa-edit
                %tr
                  %td 5
                  %td
                    %strong Altus Zombo
                  %td Monrovia
                  %td
                    %span.label.label-danger Suspended
                  %td
                    .btn-group.btn-group-xs
                      %a.btn.btn-default{"data-original-title" => "Delete", "data-toggle" => "tooltip"}
                        %i.fa.fa-trash
                      %a.btn.btn-default{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                        %i.fa.fa-edit
                %tr
                  %td 6
                  %td
                    %strong Leslie Taket
                  %td Dublin, Ireland
                  %td
                    %span.label.label-success Active
                  %td
                    .btn-group.btn-group-xs
                      %a.btn.btn-sm{"data-original-title" => "Delete", "data-toggle" => "tooltip"}
                        %i.fa.fa-trash
                      %a.btn.btn-sm{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                        %i.fa.fa-edit
                %tr
                  %td 7
                  %td
                    %strong Leslie Taket
                  %td Dublin, Ireland
                  %td
                    %span.label.label-success Active
                  %td
                    .btn-group.btn-group-xs
                      %a.btn.btn-sm{"data-original-title" => "Delete", "data-toggle" => "tooltip"}
                        %i.fa.fa-trash
                      %a.btn.btn-sm{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                        %i.fa.fa-edit
                %tr
                  %td 8
                  %td
                    %strong Leslie Taket
                  %td Dublin, Ireland
                  %td
                    %span.label.label-success Active
                  %td
                    .btn-group.btn-group-xs
                      %a.btn.btn-sm{"data-original-title" => "Delete", "data-toggle" => "tooltip"}
                        %i.fa.fa-trash
                      %a.btn.btn-sm{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                        %i.fa.fa-edit
                %tr
                  %td 9
                  %td
                    %strong Leslie Taket
                  %td Dublin, Ireland
                  %td
                    %span.label.label-success Active
                  %td
                    .btn-group.btn-group-xs
                      %a.btn.btn-sm{"data-original-title" => "Delete", "data-toggle" => "tooltip"}
                        %i.fa.fa-trash
                      %a.btn.btn-sm{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                        %i.fa.fa-edit
                %tr
                  %td 10
                  %td
                    %strong Leslie Taket
                  %td Dublin, Ireland
                  %td
                    %span.label.label-success Active
                  %td
                    .btn-group.btn-group-xs
                      %a.btn.btn-sm{"data-original-title" => "Delete", "data-toggle" => "tooltip"}
                        %i.fa.fa-trash
                      %a.btn.btn-sm{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                        %i.fa.fa-edit
