- if user_signed_in?
  %li
    = link_to('Logout', destroy_user_session_path, :method => :delete)
- else
  %li
    = link_to('Login', new_user_session_path)

= link_to("Building Basic Info", admin_building_basic_infos_path)
= link_to("Building Availabilities", admin_building_availabilities_path)
= link_to("Building Cost Info", admin_building_cost_infos_path)
= link_to("Building Max Level", admin_building_max_levels_path)