= form_tag(building_path(@items.first), method:"patch") do
  = hidden_field_tag("building_type", @building_type)
  - @items.each do |building|
    = building.building_basic_info.display_name
    %br
    Building Level
    = number_field_tag("building[#{building.unique_building_code}]",building.level)
    %br
    Max Level:
    = building.max_level
    %hr
  = submit_tag("Update Buildings")
    