%br
  Name: #{ @building_cost_info.name }
%br
  Level: #{ @building_cost_info.level }
%br
  Upgrade Resource: #{ @building_cost_info.upgrade_resource }
%br
  Cost: #{ @building_cost_info.cost }
%br
  Time: #{ @building_cost_info.time }
%br
  Cumulative Cost: #{ @building_cost_info.cumulative_cost }
%br
  Cumulative Time: #{ @building_cost_info.cumulative_time }
%br
  Training Cost: #{ @building_cost_info.training_cost }
%br
  Training Resource: #{ @building_cost_info.training_resource }
%br
  Production Amount: #{ @building_cost_info.production_amount }
%br
  Production Resource: #{ @building_cost_info.production_resource }
%br
  = link_to("Back", admin_building_cost_infos_path)
%br
  = link_to("Edit", edit_admin_building_cost_info_path)